Code/.ipynb_checkpoints/
Manuscript/.texpadtmp
Manuscript/Repository/.texpadtmp
Manuscript/.DS_Store
Data/BRIC/.DS_Store
.DS_Store
Data/low_temperature_ac/.ipynb_checkpoints/low_temp_ac_plots-checkpoint.ipynb
